* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

a {
    color: #dcdcdc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#textName {
    color: #dcdcdc;
    font-weight: 100;
    margin-bottom: 0%;
}

#textBadge {
    color: #dcdcdc;
    margin-top: 2.5%;
}

#profilePic {
    max-width: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.3);
}

#mailTable {
    margin: auto;
}

.mainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%)
}

.mailDiv {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

      .btn-group button {
    background-color: transparent; 
    border-radius: 10%;
    border: none; 
    padding: 5px 8px;
    cursor: pointer; 
    float: left; 
      }

  @media screen and (min-width: 800px) {
.btn-group button {
    background-color: transparent; 
    border-radius: 10%;
    border: none; 
    padding: 8px 20px;
    cursor: pointer; 
    float: left; 
  }
}

  .btn-group button:not(:last-child) {
    border-right: none; 
  }

  .btn-group button:hover {
    background-color: rgb(20, 20, 20, 0.3);
  }

body {
    background-image: url('images/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }